body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('tkdbg.jpg');
    background-repeat: repeat;
    background-size: 1100px;
    overflow-y: scroll;
}
h1 {
    font-size: 2.5em;
    margin: 10px 0;
    color: black;
}

h2 {
    font-size: 2em;
    margin: 10px 0;
    color: black;
}

h3 {
    font-size: 1.3em;
    color: black;
}
nav {
    margin: 10px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: red;
}
.section {
    max-width: 900px;
    margin: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}
hr {
    border: 1px solid black;
}
.gear-list {
    text-align: left;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.8em;
}
.contact-info h3 {
    margin: 5px 0;
}

